*{
    font-family: 'Poppins', sans-serif; /* set font for the whole webpage */
  }
  @media screen and (max-width:1000px) {
    .list-details {  /* reponsive footer when screen 600px this will show up on two columns */
      display: grid;
      grid-template-columns: auto auto;
    }
    .list-details :last-child{
    grid-column: 1 / span 2;
    }
  }

  .t > button:hover{  /* what the button will look like when being hoverd */
    border-color: #470031;
    color: white;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #971549;
    transform: translateY(-0.25rem);  /* when being hover the button will move on the Y-axis up direction so the value is negative */
    cursor: pointer;
  }
  .active{  /* to show the element that is active on the navbar */
    box-shadow: 0px 4px 0px 0px #BB8EAC;
  }
  .de:hover > .nav-link{  /* box shadow will show up when elements of the navbar being hoverd */
    box-shadow: 0px 4px 0px 0px #BB8EAC;
    color: #FBD6D2;
  }
  .de:hover > .ruby-icon{  /* when elements of the navbar being hoverd the ruby icon will rotate */
    transform: rotate(120deg);
  }
  .nav-link{ /* adjust the time for transition when being hovered */
    transition: color 0.4s, box-shadow 1s;
  }
 
  .vl { /* background color for the nav bar */
    background-color: #CF455C;
  }
  
  .ruby_intro {
    width: 75px;
    height: auto; /* set size for the ruby logo*/
  }
  
  .ruby-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: inherit;
    overflow: hidden;
     transition-duration: 1s;
     transition-property: transform; /* transformation when being hoverd for 1 second */
  }
  .de {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: large;
  }
  
  .t > * {
    position: relative;
    animation: frombottom 1.5s ease-in-out 0s; /* animation when the page is first loaded the second value is animation duration and the last one is animation delay the third one is for the speed of animation  */
    animation-fill-mode: both; /* after animation when element will be kept at the original place */
  }
.bodybg
{
    background-color: #F6E7D8;}

    .text-ruby{
      width: 70%;
      height: auto;
    }

  .markquizheader {
      display:block;
      position:relative;
      text-align: center;
      font-weight: bold;
  }
.Box1 {
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    margin: 30px auto;
    transition: 0.15s;
    padding: 30px;
    /* style | colour | width */
    border: solid #CF455C 4px;
    background: #FF9898;
	border-radius: 25px;
      }
      .Box1:hover {
        box-shadow: 0px 8px 28px rgba(33,33,33,.2); 
        transition: all 300ms ease-in-out;
      }

.StudentResults1{
font-weight:bold;
font-size:larger;
}

.QuizLink {
    text-align: center;
    position: relative;
    border-radius: 15px 5px 15px 5px;
    background: #470031;
    padding: 12px;
    width: 20px;
    height: 20px
    
}
.QuizLink:hover {
    box-shadow: 0px 8px 11px rgba(33,33,33,.2); 
    transition: all 300ms ease-in-out;
}
.Box2 {
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    margin: 30px auto;
    transition: 0.15s;
    padding: 30px;
    border: solid #CF455C 4px;
    background: #FF9898;
	border-radius: 25px;
}

.Box2:hover {
        box-shadow: 0px 8px 28px rgba(33,33,33,.2); 
        transition: all 300ms ease-in-out;
      }
    
.StudentResults2{
        font-weight:bold;
        font-size: larger;
        }
.TopicLink {
text-align: center;
position: relative;
border-radius: 15px 5px 15px 5px;
background: #470031;
padding: 12px;
width: 20px;
height: 20px
}
/* not sure on how to create just the hyperlink being bold, nor a little wider of a text box for functionality. */
/* unvisited link */
a:link {
    /*font-weight: ; */
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

.TopicLink:hover {
            box-shadow: 0px 8px 11px rgba(33,33,33,.2); 
            transition: all 300ms ease-in-out;
        }


    .list-details { /* reponsive footer when default this will show up on three columns */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        gap: 10px;
        padding: 10px;
    }
          
    .container-footer { /* set background color for the footer */
        background-color: #FF9898;
        padding: 10px;
        clear: both;
    }      

    .p-us {
        margin-bottom: 0;
      }

      .footer-mail>div>a { /* style the anchor tag for the footer*/
        text-decoration: none;
        color: #971549;
        margin-bottom:  10px;
      }