* {font-family:calabri, sans-serif;
}
legend {font-weight: bold
}
h1 {font-weight:bold
}

.about-us{
  font-size: xx-large;
  display: inline-block;
  width: 25%;
  height: auto;
}
.list-details{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width:600px) {
  .list-details{
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    padding: 10px;
  }
}
.footer-mail> section> a{
  text-decoration: none;
  color: #971549;
}
.image-us{
  width: 40px;
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns:20% auto;
  gap: 10px;
  background-color: #FF9898;
  padding: 10px;
}
.grid-container > div{
  text-align: center;

}
.p-us{
  margin-bottom: 0;
}
.vl{
  background-color: #CF455C;
}
.ruby_intro{
  width: 75px;
  height: auto;
}
.ruby-icon{
  width: 30px;
  height: 30px;
  display: inline-block;
}
.de{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: large;
}
.de >a:hover{
  color:  #FBD6D2;
}
.t{
  margin-top: 0;
  background: url("../images/bg.jpg") no-repeat;
  background-position:-250px -120px ;
  height: 90vh;
}

fieldset {border:0.01px solid black;}