*{
    font-family: 'Poppins', sans-serif; /* set font for the whole webpage */
  }
  
.bodybg
{
    background-color: #F6E7D8;}

    .text-ruby{
      width: 70%;
      height: auto;
    }

  .markquizheader {
      display:block;
      position:relative;
      text-align: center;
      font-weight: bold;
  }
.Box1 {
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    margin: 30px auto;
    transition: 0.15s;
    padding: 30px;
    /* style | colour | width */
    border: solid #CF455C 4px;
    background: #FF9898;
	border-radius: 25px;
      }
      .Box1:hover {
        box-shadow: 0px 8px 28px rgba(33,33,33,.2);
        transition: all 300ms ease-in-out;
      }

.StudentResults1{
font-weight:bold;
font-size:larger;
}

.QuizLink {
    text-align: center;
    position: relative;
    border-radius: 15px 5px 15px 5px;
    background: #470031;
    padding: 12px;
    width: 20px;
    height: 20px

}
.QuizLink:hover {
    box-shadow: 0px 8px 11px rgba(33,33,33,.2);
    transition: all 300ms ease-in-out;
}
.Box2 {
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    margin: 30px auto;
    transition: 0.15s;
    padding: 30px;
    border: solid #CF455C 4px;
    background: #FF9898;
	border-radius: 25px;
}

.Box2:hover {
        box-shadow: 0px 8px 28px rgba(33,33,33,.2);
        transition: all 300ms ease-in-out;
      }

.StudentResults2{
        font-weight:bold;
        font-size: larger;
        }
.TopicLink {
text-align: center;
position: relative;
border-radius: 15px 5px 15px 5px;
background: #470031;
padding: 12px;
width: 20px;
height: 20px
}
/* not sure on how to create just the hyperlink being bold, nor a little wider of a text box for functionality. */
/* unvisited link */
a:link {
    /*font-weight: ; */
    color: white;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: white;
  }

  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  }

.TopicLink:hover {
            box-shadow: 0px 8px 11px rgba(33,33,33,.2);
            transition: all 300ms ease-in-out;
        }


    .list-details { /* reponsive footer when default this will show up on three columns */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        gap: 10px;
        padding: 10px;
    }

    .container-footer { /* set background color for the footer */
        background-color: #FF9898;
        padding: 10px;
        clear: both;
    }

    .p-us {
        margin-bottom: 0;
      }

      .footer-mail>div>a { /* style the anchor tag for the footer*/
        text-decoration: none;
        color: #971549;
        margin-bottom:  10px;
      }
