.about-us {
  font-size: xx-large;
  display: inline-block;
  width: 25%;
  height: auto;
}

.list-details {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width:600px) {
  .list-details {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
  }
  .text-ruby{

  }
}
.active{
  box-shadow: 0px 4px 0px 0px #BB8EAC;
}
.de:hover > .nav-link{
  box-shadow: 0px 4px 0px 0px #BB8EAC;
  color: #FBD6D2;
}
.de:hover > .ruby-icon{
  transform: rotate(120deg);
   -webkit-transform: rotate(120deg);
}
.nav-link{
  transition: color 0.4s, box-shadow 1s;
}

.footer-mail>div>a {
  text-decoration: none;
  color: #971549;
}

.image-us {
  width: 40px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 10px;
  background-color: #FF9898;
  padding: 10px;
}

.grid-container>div {
  text-align: center;
}

.p-us {
  margin-bottom: 0;
}

.vl {
  background-color: #CF455C;
}

.ruby_intro {
  width: 75px;
  height: auto;
}

.ruby-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
   transition-duration: 1s;
   transition-property: transform;
}
.de {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: large;
}

.text-ruby{
  width: 45%;
  height: auto;
  color: black;
  position: relative;
  margin-left: 5%;
  top: 7%;
  border-left: 4px solid #F4BBBB;
  padding-left: 7px;
  overflow: hidden;
}
.t {
  background: url("../images/bg.jpg") no-repeat;
  opacity: 0.8;
  background-position: -250px -120px;
  height: 90vh;
}
