#body{
	margin: 0;
	background-color: #BC5E5E;
	width: auto;
	height: auto;
}

.topicarticle{
	height: auto;
	width: auto;
	font-size: 60px;
	background-color: #FFFFFF;
	text-align: center;
	padding: 150px;
	margin: 260px 0 260px 0;
}

.topicarticle h3{
	font-size: 40px;
	padding: 0;
	margin: 0;
}

.topicarticle h1{
	margin: 0;
	font-size: 72px;
	background-color: #FFFFFF;
}

.face{
	width: 20%;
	border-radius: 50%;
	height: 20%;
	background-color: #FFFFFF;
}

.body{
	background-size: 100px 80px;
	background-color: #FFFFFF;
	margin-top: 100px;
	padding: 100px;
	padding-top: 150px;
	width: 60%;
}

.heading{
	background-color: #FFFFFF;
	font-size: 36px;
	padding: 20px 0 0 0;
	letter-spacing: 2px;
	line-height: 2;
	
}

.paragraph{
	background-color: #FFFFFF;
	font-size: 24px;
	padding: 0 100px 0 5px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.li{
	background-color: #FFFFFF;
	font-size: 24px;
	padding: 0 100px 0 5px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.quote{
	display: flex;
	padding: 100px 50px 1px 0
}

.david{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-style: italic;
	flex-direction: column;
}

.vl{
  background-color: #CF455C;
}

.ruby_intro{
  width: 75px;
  height: auto;
}
.ruby-icon{
  width: 30px;
  height: 30px;
  display: inline-block;
}
.de{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: large;
}

.about-us{
  font-size: xx-large;
  display: inline-block;
  width: 25%;
  height: auto;
}
.list-details{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width:600px) {
  .list-details{
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    padding: 10px;
  }
}
.footer-mail> section> a{
  text-decoration: none;
  color: #971549;
}
.image-us{
  width: 40px;
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns:20% auto;
  gap: 10px;
  background-color: #FF9898;
  padding: 10px;
}
.grid-container > div{
  text-align: center;

}
.p-us{
  margin-bottom: 0;
}

.de >a:hover{
  color:  #FBD6D2;
}
.t{
  margin-top: 0;
  background: url("../images/bg.jpg") no-repeat;
  background-position:-250px -120px ;
  height: 90vh;
}
